<style>

* {
    padding: 0;
    margin: 0;
}

/* portrait mode warning */
#warning-message { display: none; 
background-color: black;
color:white;
font-size:30px;
}

@media only screen and (orientation:portrait){
.outer { display:none; }
#warning-message { display:block; }

 }

@media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }
    
html {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
    
body {
    cursor: url('images/cursor.cur'), default;
    overflow-x: hidden;
    top: 0;
    left: 0;
    
}
    
    
.outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


    .container {
        position: relative;
        width: 100%;
        top: 0;
    }
    
        .sky {
            
            position: sticky;
            top: 0px;
            min-height: 100vh;
            width: 100%;
            background: rgb(240,255,27);
            background: radial-gradient(circle, rgba(240,255,27,1) 20%, rgba(246,200,17,1) 24%, rgba(255,109,0,1) 100%);
        }
        .graph {
            position: sticky;
            top: 0;
            max-height: 100vh;
            overflow-y: hidden;
            overflow-x: hidden;
            z-index: 100;
                        
        }
            .graph img {
                width: 100%;
            }
        
        .dudes {
            position: sticky;
            top: 1px;
           max-height: 100vh;
            overflow-y: hidden; 
            width: 80%;
            left: 10%;
            
            z-index: 200;
        }
            .dudes img {
                width: 100%;
            }
        
        .cities {
           position: sticky;
            top: 70%;
            z-index: 300;
            }
            .cities img {
                width: 55%;
                bottom: 0%;
                
            }
            
        .building {
            position: fixed;
            bottom: 0;
            z-index: 300;
            left: 0;
        }
            .building2 {
                position: fixed;
                bottom: 0;
                z-index: 350;
                width: 100%;
                left: 40%;
            }
            
        .city2 {
           position: sticky;
            top: 30%;
           
            z-index: 350;
            width: 100%;
        }
            
            .city2-pic {
                position: relative;
                left: 25%;
            }
            
            .city2 img {
                width: 100%;
            }
            
            
            .flames-1 {
                position: sticky;
                top: 50%;
                z-index: 325;
                width: 100%;
            }
                    .flames-1 img {
                        height: 60%;
                    }

                    .fire-1 {
                        position: relative;
                        left: 30%;
                    }
                    
            .flames-2 {
                position: sticky;
                top: 65%;
                z-index: 250;
            }
                .fire-2 {
                    position: relative;
                    left: 20%;
                }
                
                .flames-2 img {
                    height: 35%;
                }
                
                
            
            
            .flames-3 {
                position: sticky;
                top: 75%;
                z-index: 250;
            }
            
                .flames-3 img {
                    height: 30%;
                }
                
                .fire-3 {
                    position: relative;
                    left: 10%;
                }
        
            
        .ocean {
            position: relative;
            
            z-index: 325;
            
        }
            .ocean img {
                width: 100%;
            }
        
        
        .water {
            position: relative;
            background: rgb(0,124,194);
background: linear-gradient(180deg, rgba(0,124,194,1) 0%, rgba(0,96,151,1) 30%, rgba(0,32,50,1) 50%, rgba(0,0,0,1) 100%);
            width: 100%;
            min-height: 100vh;
            z-index: 325;
        }
        
        .title {
            position: relative;
            top: 20%;
            width: 100%;
            z-index: 500;
            min-height: 100vh;
           
        }
            .title h1 {
                position: absolute;
                color: #00ff00;
                left: 20%;
                font-size: 38px;
                padding: 10px;
                 border: 4px outset #00ff00;
            }

            
        .plays {
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
            max-width: 50%;
            left: 35%;
            z-index: 600;
            min-height: 100vh;
            padding-bottom: 125vh;
            
        }
            .plays >* {
                flex: 1 1 25%;
            }
            
                .item {
                 padding: 4px;   
                 height: 20%;
                 border: 3px outset #00ff00;
                 margin: 4px;
                 text-align: center;
                 background: rgba(31, 117, 93, 1);
                 color: white;
                }
                
                .item a:link {
                    text-decoration: none;
                    color: white;
                }
                
                 .item a:visited {
                     color: #248a6d;
                 }
                 
                .item a:hover {
                    text-decoration: underline;
                    background-color: #228166;
                }
                
            .bottom {
                display: flex;
                flex-direction: row;
                position: absolute;
                bottom: 1px;
                width: 50%;
                left: 0%;
            }
                
                .linx {
                    padding: 8px;
                    color: white;
                    border: 3px outset white;
                    margin: 8px;

                }
                
                    .linx a:link {
                        text-decoration: none;
                        color: white;
                    }
                    
                    .linx a:visited {
                        text-decoration: none;
                        color: white;
                    }
                    
                    .linx a:hover {
                        text-decoration: underline;
                    }
                        
               
   /* .lead {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;  
            }
                .lead-text {
                    position: absolute; 
                    width: 50%;
                    left: 20%;
                    top: 40%;
                }

    .graph {
        position: sticky;
        width: 100%;
        height: 100%;
        background: url('images/collage/profit.png');
        top: 2em;
        z-index: 2;
        
    }
    
    .dudes {
        position: sticky;
        width: 100%;
        height: 100%;
        background: url('images/collage/dudes.png');
        top: 4em;
        z-index: 3;
    }
    
    */ 

/* youtube */

.video {
 position: relative;
 width: 65%;
 left: 15%;
 z-index: 700;
 padding-bottom: 48px;
}

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}

</style>

